<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>idlegame</title>
</head>
<script src="./templates/button1.js" defer></script>
<script src="./templates/button2.js" defer></script>
<script src="./templates/button3.js" defer></script>

<body>
    <h1>idlegame</h1>

    <button id="test" onclick="button1()">get a twig</button>

    <p>
        we collect twigs to make a firecamp.
        <p>Twigs: <span id="twigCount">{{twigCount}}</span></p>
    </p>
    <p>

    we can make a fire when we collecte 20 twigs
    

    <button id="makeFire" onclick="button2()">Make a fire</button>

    Fire status : <span id="fireStatus">{{fire}}</span>
    </p>
    <p>
        we collect food :
        <button id="harvest" onclick="button3()">harvest</button>
        food :
        <span id="food">{{food}}</span>
    </p>
    <label for="cooking">cooking status:</label>
    <progress id="cooking" max="100" value="{{food}}"></progress>
    fed status : <span id="fed">{{fed}}</span>

</html>